{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.section "Getting Started"}}

    {{nav.section "Guides"}}
    {{nav.item "Installation" "docs.guides.installation"}}
    {{nav.item "Usage" "docs.guides.usage"}}
    {{nav.item "Structure" "docs.guides.structure"}}
    {{nav.item "Upgrading" "docs.guides.upgrading"}}
    {{nav.item "Development and Debugging" "docs.guides.development-and-debugging"}}
    {{nav.item "CI" "docs.guides.ci"}}

    {{nav.section "FAQ"}}
    {{nav.item "Common Issues" "docs.faq.common-issues"}}
    {{nav.item "Security" "docs.faq.security"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}
{{/docs-viewer}}
